<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}

    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}


    <link rel="stylesheet" type="text/css" href="./themes/comeToCorunaTheme/estilos/general.css">
    <script type="text/javascript" src="./themes/comeToCorunaTheme/js/general.js" defer></script>
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'> -->
    <link href='https://fonts.googleapis.com/css?family=Niramit' rel='stylesheet'>
    <!-- Table of contents -->
    <script src="{{ theme_url }}/js/table-of-contents.js"></script>
    <link rel="stylesheet" href="{{ theme_url }}/estilos/table-of-contents.css">
</head>
<body onload="htmlTableOfContents()">
    <header>
        <div class="container">
            <!-- Logo y menú en la misma fila? -->
            <div class="logo">
                <div class="logo-icon"><a href="{{ base_url }}">ComeToCoruna.com</a></div>
                <div class="logo-hamburger" onclick="changeMenuSuperior()">☰</div>
            </div>
            <div class="menu-superior">
                <ul>
                    <li><a href="{{ base_url }}/?why-living-coruna">Why Coruna</a></li>
                    <li><a href="{{ base_url }}/?living-coruna">Living in Coruna</a></li>
                    <li><a href="{{ base_url }}/?working-coruna">Working in Coruna</a></li>
                    <li><a href="{{ base_url }}/?meet-people-coruna">Meet people</a></li>
                    <li><a href="{{ base_url }}/?bureaucracy">Bureaucracy FAQ</a></li>
                    <li><a href="{{ base_url }}/?services">Services for foreigners</a></li>
                </ul>
            </div>
            <div class="idioma" style="display: none;">Aquí va el selector de idioma</div>
        </div>
    </header>
    <article>
        <div class="container">
            {{ content }}
        </div>
    </article>
    <footer>
        <div class="container">
            <div class="fichas">
            <!-- 3 fichas informativas en el footer? -->
                <div class="ficha-izquierda">
                    <ul>
                        <li>About Me</li>
                        <li>Contact</li>
                        <li>Legal Stuff</li>
                        <li>Business Opportunities</li>
                    </ul>
                </div>
                <div class="ficha-central">
                    <ul>
                        <li>Cool stuff about Coruña</li>
                        <li>Short trip recommendation</li>
                        <li><a href="./?inditex">A Coruña for inditex employees</a></li>
                        <li>Opcion 4</li>
                    </ul>
                </div>
                <div class="ficha-derecha">
                    <ul>
                        <li>Opcion 1</li>
                        <li>Opcion 2</li>
                        <li>Opcion 3</li>
                        <li>Opcion 4</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>